<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>exchange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">exchange</a>
          <div class="nav-collapse">
            <?=$this->render('partial/header', array('selected' => 'listing') + compact('current_user'));?>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class='row'>
            <div class='span3'>
                <div class='well'>
                    <ul class="nav nav-list">
                        <li class='nav-header'>Other Listings On Which You've Made Offers</li>
                        <?php foreach ( $listings as $listing ): ?>
                        <li style='margin-bottom: 6px;'>
                        <?php $book = $listing->Book; ?>
                            <a href="/listing/<?=$listing->get_primary_key();?>">
                                <?php if ( $book->cover_small ): ?>
                                    <img src='<?=$book->cover_small;?>' alt="<?=$book->title;?>" style='float: left; margin-right: 8px;'/>
                                <?php else: ?>
                                    &nbsp;
                                <?php endif; ?>
                                <p>
                                    <?=$book->title;?>
                                    <br />
                                    <i class='icon-signal'></i>
                                    $<?=$listing->get_highest_offer();?>
                                </p>
                                <div style='clear: both;'></div>
                            </a>
                        </li>
                        <?php endforeach; ?>

                    </ul>
                </div>
            </div>

            <div class='span6'>
                <?php $current_book = $current_listing->Book; ?>
                <?php if ( $current_book->cover_medium ): ?>
                    <img src='<?=$current_book->cover_medium;?>' alt='<?=$current_book->title;?>' style='float: left; margin-right: 10px; margin-bottom: 30px;' />
                <?php endif; ?>
                <h2 id='title'><?=$current_book->title;?></h2>
                <p>
                    <strong><?=$current_book->authors;?></strong>
                    <br />
                    <strong>
                        <?=$current_book->publishers;?>
                        <?php if ( $current_book->publish_date): ?>
                            (<?=$current_book->publish_date;?>)
                        <?php endif; ?>
                    </strong>
                    <br />
                    <?php if ( $current_book->isbn_10 ): ?>
                    <strong>ISBN-10:</strong> <?=$current_book->isbn_10;?>
                    <br />
                    <?php endif; ?>
                    <?php if ( $current_book->isbn_13 ): ?>
                    <strong>ISBN-13:</strong> <?=$current_book->isbn_13;?>
                    <br />
                    <?php endif; ?>
                    <strong>Condition:</strong> <?=$current_listing->condition_tag;?>
                    <br />
                    <strong>Description:</strong> <?=$current_listing->description;?>
                    <br />
                    <strong>Average Retail Price:</strong> $<?=$current_book->external_average_market_price;?>
                    <br />
                    <strong>Market Average Price:</strong> $<?=$current_book->internal_average_market_price;?>
                    <br />
                    <strong>Seller's Asking Price:</strong> $<?=$current_listing->ideal_price;?>
                </p>

                <form action='/listing/<?=$current_listing->get_primary_key();?>/offer' method='post' class='well' style='clear: both;'>
                    <h3>Make an Offer!</h3>
                    <?php $highest_offer = $current_listing->get_highest_offer(); ?>
                    <?php $last_offer = $current_user->get_last_offer_price($current_listing->get_primary_key()); ?>
                    <p>
                    <?php if ( $highest_offer > 0 ): ?>
                        <strong>Highest Offer Thus Far:</strong> $<?=$highest_offer;?>
                        <br />
                        <strong>Number of Other Interested Buyers:</strong> <?=$current_listing->get_number_of_interested_buyers($current_user->get_primary_key());?>
                        <?php if ( $last_offer ): ?>
                            <br />
                            <strong>Your Last Offer:</strong> $<?=$last_offer;?>
                        <?php endif; ?>
                    <?php else: ?>
                        Nobody has made an offer on this listing yet - be the first!
                    <?php endif; ?>
                    </p>
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="ideal-price">Offering Price:</label>
                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on">$</span><!--
                                    --><input class="span2" name="price" id="ideal-price" type="number" min='<?=number_format($last_offer + 0.01, 2);?>' value='<?=number_format($last_offer + 0.01, 2);?>' step='0.01'>
                                </div>

                                <div class="btn-group" style='margin-top: 10px;'>
                                    <button class="btn btn-small plus-amount" data-amount='1'>+ $1</button>
                                    <button class="btn btn-small plus-amount" data-amount='5'>+ $5</button>
                                    <button class="btn btn-small plus-amount" data-amount='10'>+ $10</button>
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <input type='hidden' name='authenticity_token' value='<?=$authenticity_token;?>'>
                            <button type="submit" class="btn btn-success">Submit!</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div> <!-- /container -->

    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script>
        $(document).ready(function() {
            $('.plus-amount').click(function(event) {
                event.preventDefault();
                var amount = parseInt($(this).attr('data-amount'), 10);
                var $idealPrice = $('#ideal-price');
                var newAmount = parseFloat($idealPrice.val() || 0, 10) + amount;
                $idealPrice.val(newAmount.toFixed(2));
            });

        });

    </script>

  </body>
</html>
