            <ul class="nav logged-in">
              <li><a href='/'><i class='icon-home'></i> Welcome, <span id='first-name'>first name</span>!</a></li>
              <li class="active"'><a href='/marketplace'><i class='icon-money'></i> Marketplace</a></li>
              <li><a href='/inventory'><i class='icon-shopping-cart'></i> Your Listings</a></li>
              <li><a href='/history'><i class='icon-briefcase'></i> History</a></li>
              <li><a href='/logout'><i class='icon-signout'></i> Log Out</a></li>
            </ul>

            <ul class="nav logged-out">
              <li><a href='/login'>Log In</a></li>
              <li><a href='/signup'>Sign Up</a></li>
            </ul>
