        <div class='row' style='margin-bottom: 40px;'>
            <div class='span5 offset7'>
                <div style='text-align: center;'>
                    <a href='/history'><span class='label label-inverse label-nav'>History</a>
                </div>
                <div style='text-align: center;'>
                    <a href='/marketplace'><span class="label label-success label-nav">Marketplace</span></a>
                    <a href='/'><span class="label label-nav">Overview</span></a>
                    <a href='/inventory'><span class="label label-warning label-nav">Seller Inventory</span></a>
                </div>
                <div style='text-align: center;'>
                    <a href='/transaction'><span class='label label-info label-nav'>Transaction</a>
                </div>
            </div>
        </div>
